.font-box {
  display: flex;
  margin-bottom: 3.125rem;
  align-items: baseline;
  @extend %main-100;
  &:last-of-type {
    margin-bottom: 0;
  }
  &__name {
    margin-right: 1.875rem;
    flex: 0 0 2.3125rem;
    text-align: right;
    @extend %main-25;
    @extend %font-secondary;
    &--h1 {
      font-size: map_get($f-sizes, 'h1');
    }
    &--h2 {
      font-size: map_get($f-sizes, 'h2');
    }
    &--h3 {
      font-size: map_get($f-sizes, 'h3');
    }
    &--body {
      font-size: map_get($f-sizes, 'body');
    }
  }
  &__title {
    &--h1 {
      @extend %heading-1;
    }
    &--h2 {
      @extend %heading-2;
    }
    &--h3 {
      @extend %heading-3;
    }
    &--body {
      @extend %heading-body;
  }
  }
}