.expandable {

  &__button {
    @extend %heading-3;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 0;
    background-color: transparent;
    &.active {
      &::after {
        transform: rotateZ(180deg);
      }
    }
    &::after {
      content: '';
      position: absolute;
      width: 12px;
      height: 15.2px;
      margin-left: 46px;
      transition: transform 0.5s ease-out;
      background: {
      image: url("../../img/__expand-more--grey.svg");
      repeat: no-repeat;
      position: 100% 45%;
      }
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease-out;
    .checkbox {
      position: absolute;
      &__label {
        margin-bottom: 10px;
      }
    }
  }
}