mixin subs-form
    form.subs-form&attributes(attributes)
        input.subs-form__input(type='email' placeholder='E-mail')
        button.subs-form__submit
            include ../../../../assets/img/ui/arrow_forward.svg