.booking {
  @extend .roomsearch;
  &__header {
    display: flex;
    margin-bottom: 20px;
    align-items: baseline;
  }
  &__num {
    @extend %font-main;
    font-size: 10px;
  }
  &__room {
    @extend %font-main;
    color: map_get($colors, 'main-100');
  }
  &__lux {
    @extend %heading-3;
    color: map_get($colors, 'primary');
    margin-left: 5px;
  }
  &__cost {
    @extend %heading-body;
    line-height: 18px;
    font-weight: bold;
    color: map_get($colors, 'main-50');
    margin-left: auto;
  }
  &__aday {
    font-weight: normal;
  }
  .dropdown__select {
    border-radius: 4px;
  }
  &__sum, &__services, &__extra {
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
    @extend %heading-body;
  }
  &__sum p {
    flex: 1 1 auto;
  }
  &__days {
    flex: 1 1 auto;
  }
  &__info {
    flex: 1 1 auto;
  }
  &__services, &__extra {
    & p {
      flex: 0 1 214px;
    }
  }
  &__extra {
    margin-bottom: 30px;
    & p {
      line-height: 18px;
    }
  }
  &__info span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    border: 1px solid map_get($colors, 'main-25');
    border-radius: 50%;
    @extend %heading-3;
    text-transform: none;
    color: map_get($colors, 'main-25');
  }
  &__total {
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;
    @extend %heading-2;
    color: map_get($colors, 'main-100');
  }
  &__separator {
    flex: 1 1 auto;
    height: 1px;
    border-top: 1px dashed rgba(31, 32, 65, 0.25);
    margin: 0 5px;
  }
}