mixin subscription-tf
    form.subscription-tf
        input.subscription-tf__input(type='email' placeholder='E-mail')
        button.subscription-tf__submit
            include ../../img/__arrow_forward.svg