.subscription-tf {
  display: flex;
  width: 267px;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  padding: 2px 0 2px 5px;
  &__input {
    flex-grow: 2;
    border: none;
    padding: 10px 0 10px 10px;
    @extend %heading-body;
    &:focus {
      outline: none;
    }
  }
  &__submit {
    border: none;
    background: none;
    padding: 0;
    width: 44px;
    height: 100%;
    &:focus {
      outline: none;
    }
  }
}