include ../../type/__heading-3/__heading-3
include ../../btn/__btn-bdless
mixin dropdown(placeholder, items)
    .dropdown
        a.dropdown__select
            span= placeholder
        .dropdown__content
            each item in items
                .dropdown__item
                    +heading-3(item, 'dropdown__label')
                    button.dropdown__minus
                    +heading-3('0', 'dropdown__count')
                    button.dropdown__plus
            +btn-bdless('применить', '#', false, 'dropdown__apply')
