@import "../../type/__heading-3/__heading-3";
@import "../../btn/__btn-bdless";
.dropdown {
    width: 320px;
    position: relative;
  &__select {
    display: inline-flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 44px;
    border: 1px solid map_get($colors, 'main-50');
    border-radius: 4px 4px 0 0;
    padding: 0 15px;
    & span {
      flex: 0 1 160px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    @extend %heading-body;
    &::after {
      content: '';
      position: absolute;
      right: 0;
      background: url("../../../img/__expand_more--75.svg") center center no-repeat;
      width: 44px;
      height: 44px;
    }
  }
  &__content {
    background: #ffffff;
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    z-index: 2;
    padding: 7px 7px 13px 15px;
    border: 1px solid map-get($colors, 'main-50');
    border-top: none;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    transition: 1s ease;
  }
  &__item {
    display: flex;
    margin-bottom: 7px;
    align-items: center;
    &:last-of-type {
      margin-bottom: 19px;
    }
  }
  &__label {
    flex: 1 1 auto;
  }
  &__count {
    margin: 0 12px 0 12px;
  }
  &__apply {
    align-self: flex-end;
  }
  &__minus, &__plus {
    position: relative;
    height: 30px;
    width: 30px;
    padding: 0;
    border-radius: 50%;
    outline: none;
    border: 1px solid map-get($colors, 'main-25');
    background: #ffffff;
    &::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -0.5px 0 0 -2.5px;
      width: 5px;
      height: 1px;
      background: url("../../../img/-.svg") center center no-repeat;
    }
  }
  &__minus {
    opacity: 0.38;
  }
  &__plus {
    border-color: map_get($colors, 'main-25');
    &::before {
      width: 8px;
      height: 8px;
      margin: -4px 0 0 -4px;
      background: url("../../../img/+.svg") center center no-repeat;
    }
  }
}