@import '~Scss/shared';
@import '~Scss/ui-base';
@import '~Includes/cards/room-search/roomsearch';
@import '~Includes/cards/registration/registration';
@import '~Includes/cards/booking/booking';
@import '~Includes/cards/sign-in/sign-in';
@import '~Includes/slideshow/slideshow';
@import '~Includes/cards/room/room';

.group {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: rem(380px);
	margin: rem(10px) 0 0 rem(10px);

	&--3 {
		width: rem(320px);
		@include media-x-lg {
			flex-direction: row;
			justify-content: space-around;
			width: 100%;
			margin-top: rem(40px);
		}
		@include media-lg {
			flex-direction: column;
		}
	}

	.roomsearch {
		margin-bottom: rem(40px);
	}

	.booking {
		margin-bottom: rem(40px);
	}

	.roomcard {
		margin-bottom: rem(40px);
		@include media-x-lg {
			margin-bottom: 0;
		}
		@include media-lg {
			margin-bottom: rem(40px);
		}
	}
}

.group--3 {
	.input-calendar {
		height: rem(406px);
		margin-bottom: rem(40px);
		@include media-x-lg {
			margin-bottom: 0;
		}
		@include media-lg {
			margin-bottom: rem(40px);
		}

		&__heading,
		&__select {
			display: none;

			user-select: none;
		}

		&__content {
			top: 0;

			display: flex;
		}
	}
}
