@import "shared";
@import "ui-base";
@import "./src/pug/includes/cards/room-search/roomsearch";
@import "./src/pug/includes/cards/registration/registration";
@import "./src/pug/includes/cards/booking/booking";
@import "./src/pug/includes/cards/sign-in/sign-in";
@import "./src/pug/includes/slideshow/slideshow";
@import "./src/pug/includes/cards/room/room";

body {
  background-color: #F4F4F6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  width: 380px;
  .roomsearch {
    margin-bottom: 40px;
  }
  &--3 {
    width: 320px;
    @include media-x-lg {
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      margin-top: 40px;
    }
    @include media-lg {
      flex-direction: column;
    }
    .input-calendar {
      height: 406px;
      margin-bottom: 40px;
      @include media-x-lg {
        margin-bottom: 0;
      }
      @include media-lg {
        margin-bottom: 40px;
      }
      &__heading, &__select {
        display: none;
        user-select: none;
      }
      &__content {
        display: flex;
        top: 0;
      }
    }
    .roomcard {
      margin-bottom: 40px;
      @include media-x-lg {
        margin-bottom: 0;
      }
      @include media-lg {
        margin-bottom: 40px;
      }
    }
  }
}

main {
  display: flex;
  justify-content: space-between;
  flex: 0 1 1160px;
  flex-wrap: wrap;
  max-width: 1160px;
  padding: 150px 0 140px 0;
  @include media-x-lg {
    justify-content: space-around;
    padding: 150px 10px 140px 10px;
  }
  @include media-lg {
    margin: 0 -10px;
  }
  @include media-sm {
    margin: 0;
    padding: 150px 0 140px 0;
  }
}