@import "shared";
@import "ui-base";
@import "modules/text-field";
@import "~/pug/includes/forms/dropdown/dropdown";
@import "~/pug/includes/forms/dropdown/--apply/dropdown--apply";
@import "~/pug/includes/forms/calendar/calendar";
@import "~/pug/includes/forms/subs-form/subs-form";
@import "~/pug/includes/forms/checkbox/checkbox";
@import "~/pug/includes/forms/radio/radio";
@import "~/pug/includes/forms/toggle/toggle";
@import "~/pug/includes/forms/like-btn/like-btn";
@import "~/pug/includes/rate-btn/rate-btn";


main {
  flex-direction: column;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.col {
  display: flex;
  flex-direction: column;
  &-12 {
    max-width: 100%;
  }
  &-8 {
    max-width: 66.66%;
  }
  &-6 {
    max-width: 50%;
  }
  &-4 {
    max-width: 33.33%;
    margin: 0 auto;
  }
  &-2 {
    max-width: 16.66%;
  }
}

.element {
  margin-bottom: 20px;
  &__hgroup {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  &__subheading {
    font-weight: normal;
    color: map-get($colors, 'main-50');
  }
}

.dropdown--apply__heading {
  display: none;
}
.input-calendar__heading {
  display: none;
}

.form-calendar {
  .heading-3 {
    flex: 0 0 150px;
  }
}

.checkbox-buttons, .radio-buttons, .toggle-buttons,
.like-buttons {
  .element__hgroup {
    margin-bottom: 16px;
  }
}

.checkbox-buttons {
  display: flex;
  flex-direction: column;
  .checkbox__label:not(:last-of-type) {
    margin-bottom: 12px;
  }
}
.radio-buttons {
  .radio {
    margin-right: 20px;
  }
}
.toggle-buttons {
  .toggle:first-of-type {
    margin-bottom: 10px;
  }
}

.like-buttons {
  .like-btn {
    margin-right: 10px;
  }
}
.rate-buttons {
  display: flex;
  flex-wrap: wrap;
  .element__hgroup {
    width: 100%;
  }
  .rate-btn:not(:last-of-type) {
    margin-right: 20px;
  }
}
