@import "shared";
@import "ui-base";
@import "modules/text-field";
@import "~/pug/includes/forms/dropdown/dropdown";
@import "~/pug/includes/forms/dropdown/--apply/dropdown--apply";
@import "~/pug/includes/forms/calendar/calendar";
@import "~/pug/includes/forms/subs-form/subs-form";
@import "~/pug/includes/forms/checkbox/checkbox";
@import "~/pug/includes/forms/radio/radio";
@import "~/pug/includes/forms/toggle/toggle";
@import "~/pug/includes/forms/like-btn/like-btn";
@import "~/pug/includes/rate-btn/rate-btn";
@import "~/pug/includes/forms/range-slider/range-slider";
@import "~/pug/includes/btn/btn";
@import "~/pug/includes/btn/--border/btn--border";
@import "~/pug/includes/btn/--bdless/btn--bdless";
@import "~/pug/includes/btn/--arrow/btn--arrow";
@import "~/pug/includes/pagination/pagination";
@import "~/pug/includes/expandable/expandable";
@import "~/pug/includes/advantage/advantage";

$rowGap: 20px;
main {
  & > {
    .row {
      &-1 {
        margin: -1 * $rowGap 0 100px -1 * $rowGap;
        justify-content: space-between;
        @include media(1039px){
          justify-content: space-around;
        }
      }
      margin: -1 * $rowGap 0 0 -1 * $rowGap;
    }
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
}
.col {
  display: flex;
  flex-direction: column;
  margin: $rowGap 0 0 $rowGap;
  align-items: flex-start;
  &-12 {
    max-width: 100%;
  }
  &-8 {
    flex: 0 1 66.66%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 66.66%;
  }
  &-6 {
    max-width: 50%;
  }
  &-4 {
    flex: 0 1 320px;
  }
  &-2 {
    max-width: 16.66%;
  }
}

.element {
  margin-bottom: 20px;
  &__hgroup {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  &__subheading {
    font-weight: normal;
    color: map-get($colors, 'main-50');
  }
}

.dropdown--apply__heading {
  display: none;
}
.input-calendar__heading {
  display: none;
}

.form-calendar {
  .heading-3 {
    flex: 0 0 150px;
  }
}

.checkbox-buttons, .radio-buttons, .toggle-buttons,
.like-buttons, .paginations {
  .element__hgroup {
    margin-bottom: 16px;
  }
}

.checkbox-buttons {
  display: flex;
  flex-direction: column;
  .checkbox__label:not(:last-of-type) {
    margin-bottom: 12px;
  }
}
.radio-buttons {
  .radio {
    margin-right: 20px;
  }
}
.toggle-buttons {
  display: flex;
  flex-direction: column;
  .toggle:first-of-type {
    margin-bottom: 10px;
  }
}

.like-buttons {
  .like-btn {
    margin-right: 10px;
  }
}
.rate-buttons {
  display: flex;
  flex-wrap: wrap;
  .element__hgroup {
    width: 100%;
  }
  .rate-btn:not(:last-of-type) {
    margin-right: 20px;
  }
}
.range-sliders {
  margin-bottom: 40px;
  .element__hgroup {
    margin-bottom: 20px;
  }
}
.main-buttons {
  .row {
    margin-bottom: 30px;
    .btn, .btn-border, .btn-bdless {
      &:not(:nth-of-type(2)) {
        margin-right: 20px;
      }
    }
  }
}
.dropdown-expanded {
  height: 189px;
  margin-bottom: 40px;
}
.expandable:not(.expanded) {
    // 49px margin (-20 because there is a margin in the expandable)
    margin-bottom: 49px - 20px;
}
