@import "shared";
@import "ui-base";
@import "modules/text-field";
@import "~/pug/includes/forms/dropdown/dropdown";
@import "~/pug/includes/forms/dropdown/--apply/dropdown--apply";
@import "~/pug/includes/forms/calendar/calendar";

main {
  flex-direction: column;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.col {
  display: flex;
  flex-direction: column;
  &-12 {
    max-width: 100%;
  }
  &-8 {
    max-width: 66.66%;
  }
  &-6 {
    max-width: 50%;
  }
  &-4 {
    max-width: 33.33%;
  }
  &-2 {
    max-width: 16.66%;
  }
}

.element {
  margin-bottom: 20px;
  &__hgroup {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  &__subheading {
    font-weight: normal;
    color: map-get($colors, 'main-50');
  }
}

.dropdown--apply__heading {
  display: none;
}
.input-calendar__heading {
  display: none;
}

.form-calendar {
  .heading-3 {
    flex: 0 0 150px;
  }
}