@import "~Scss/shared";
@import "~Scss/ui-base";
@import "~Includes/link/link";
@import "~Includes/header/header";
@import "~Includes/footer/footer";
@import "~Includes/footer/--creative/footer-creative";
// TODO Change all background svgs to img

body {
  background: #F4F4F6;
  .main {
    display: flex;
    flex-direction: column;
  }
  .header {
    &:not(.header-auth) {
      .header__mob-nav {
        z-index: 103;
      }
      .burger {
        z-index: 104;
      }
    }
    margin-bottom: rem(40px);
  }
  .footer-main {
    margin-bottom: rem(40px);
  }
  .header,
  .footer-main,
  .footer-copyright,
  .footer-creative {
    background: #FFFFFF;
    box-shadow: 0 rem(10px) rem(20px) rgba(31, 32, 65, 0.05);
  }
}