@import '~Scss/shared';

@import '~Includes/header/header';
@import '~Includes/footer/footer';

body {
  display: grid;
  grid-template: {
    rows: rem(70px) auto auto;
    areas: 'header'
            'main'
            'footer';
  }
  .header {
    grid-area: header;
  }
  .main {
    grid-area: main;
  }
  .footer-main {
    grid-area: footer;
  }
}