@import '~Scss/header-footer';
@import '~Includes/cards/room-search/roomsearch';

.main {
	padding: rem(70px) 0 rem(20px) 0;

	&__container {
		display: grid;
		grid-row-gap: rem(320px);
		@include media-m {
			grid-row-gap: rem(200px);
		}
		grid-template: {
			rows: auto auto;
		}
	}
	background: {
		image: url('~Images/background-1.jpg');

		position: center 70%;
		repeat: no-repeat;
		size: cover;
	};

	&__card {
		.roomsearch {
			@include media-sm {
				margin: 0 auto;
			}
		}

		.dropdown {
			width: 100%;
		}

		.input-calendar {
			width: 100%;
		}

		.btn {
			width: 100%;
		}
	}

	&__heading {
		justify-self: right;

		text-align: right;

		.body-text {
			width: rem(300px);
		}
	}
}
