@import '~Scss/header-footer';

@import '~Includes/advantage/advantage';
@import '~Includes/cards/booking/booking';
@import '~Includes/comment/comment';
@import '~Includes/bullet-list/bullet-list';
@import '~Includes/impressions/impressions';

.header {
	box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
}

.heading-2 {
	margin-bottom: rem(20px);

	color: map-get($colors, 'main-100');
}

.gallery {
	display: grid;
	max-width: rem(1440px);
	height: rem(485px);
	margin: 0 auto;
	@include media-m {
		height: rem(485px)/1.25;
	}
	@include media-sm {
		height: rem(485px)/1.75;
	}
	@include media(500px) {
		height: rem(485px)/2;
	}
	grid-template: {
		columns: 60% 40%;
		rows: 50% 50%;
		areas: 'main sec1'
			'main sec2';
	};

	&__main {
		grid-area: main;
	}

	&__sec1 {
		grid-area: sec1;
	}

	&__sec2 {
		grid-area: sec2;

		img {
			object-position: bottom;
		}
	}

	&__img {
		position: relative;
		
		padding: 0 0 30%;

		overflow: hidden;
	}

	img {
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.room-details {
	display: flex;
	padding: rem(70px) 0;
	@include media-lg {
		padding: rem(70px)/1.25 0;
	}
	@include media-m {
		padding: rem(70px)/1.5 0;
	}

	&__container {
		display: grid;
		grid-row-gap: rem(30px);
		grid-column-gap: rem(70px);
		@include media(1092px) {
			grid-template: {
				columns: repeat(2, 1fr);
				areas: 'info booking'
					'impressions booking'
					'rules cancellation'
					'reviews reviews';
			}
		}
		@include media(700.98px) {
			grid-column-gap: rem(20px);
			grid-template: {
				columns: repeat(2, 1fr);
				areas: 'info impressions'
					'booking booking'
					'reviews reviews'
					'rules cancellation';
			}
		}
		@include media(438px) {
			justify-items: center;
			grid-template: {
				columns: rem(380px);
				areas: 'info'
					'impressions'
					'booking'
					'reviews'
					'rules'
					'cancellation';
			};

			.heading-2 {
				text-align: center;
			}
			padding: {
				right: rem(10px);
				left: rem(10px);
			};
		}
		grid-template: {
			columns: repeat(3, auto);
			areas: 'info impressions booking'
				'reviews reviews booking'
				'rules cancellation cancellation';
		};
	}

	&__info {
		grid-area: info;
	}

	&__impressions {
		grid-area: impressions;

		.impressions {
			@include media(1202px) {
				flex-wrap: wrap;
			}
		}
	}

	&__booking {
		grid-area: booking;
		@include media(1092px) {
			justify-self: center;
		}

		.input-calendar,
		.dropdown--apply,
		.btn--arrow {
			width: 100%;
		}
	}

	&__reviews {
		grid-area: reviews;


		.comment {
			margin-bottom: 20px;
		}
	}

	.reviews {
		&__headings {
			display: flex;

		}

		.heading-2 {
			flex: 1 1 auto;
		}
	}

	&__rules {
		grid-area: rules;
	}

	&__cancellation {
		grid-area: cancellation;
		width: 100%;
		@include media(1092px) {
			justify-self: center;
		}

		.body-text {
			max-width: rem(341px);
			@include media(438px) {
				max-width: 100%;
			}
		}
	}
}

.footer-main {
	border-top: 1px solid map-get($colors, 'main-25');
}
