@import "~Scss/header-footer";


@import '~Includes/forms/dropdown/dropdown';
@import '~Includes/forms/dropdown/--apply/dropdown--apply';
@import '~Includes/forms/dropdown/--date/dropdown--date';
@import '~Includes/forms/calendar/calendar';
@import '~Includes/forms/range-slider/range-slider';
@import '~Includes/forms/checkbox/checkbox';
@import '~Includes/forms/checkbox/--rich/checkbox--rich';
@import '~Includes/expandable/expandable';
@import '~Includes/cards/room/room';

.main {
  display: grid;
  grid-template: {
    columns: rem(325px) 1fr;
    rows: 1fr;
  };
  @include media-m {
    grid-template: {
      columns: 1fr;
      rows: auto auto;
    };
  }
  margin: 0 auto;
  padding: rem(30px) rem(140px) rem(70px) rem(140px);
  @include media-x-lg {
    padding: rem(15px) rem(35px);
  }
  width: 100%;
  max-width: 1440px;
  .sidebar {
    @include media-m {
      display: grid;
      grid-template: {
        columns: repeat(2, rem(270px));
      };
      grid-column-gap: 10px;
      margin: 0 auto;
      ._dropdown {
        grid-column-start: 2;
        grid-row-start: 2;
      }
    }
    @include media-sm {
      grid-template: {
        columns: rem(270px);
      };
      ._dropdown {
        grid-column-start: auto;
        grid-row-start: auto;
      }
    }
  }
  .search-results {
    &__heading {
      margin-bottom: rem(20px);
      @extend %heading-1;
      color: map-get($colors, 'main-100');
    }
    &__rooms {
      display: grid;
      grid-template: {
        columns: repeat(auto-fill, minmax(270px, 1fr));
      };
      grid-row-gap: rem(20px);
      grid-column-gap: rem(12px);
      justify-items: center;
    }
  }
}

.header {
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.element {
  &__hgroup {
    margin-bottom: rem(20px);
  }
  &._range-slider {
    width: rem(267px);
  }
  &._dropdown {
    .element__hgroup {
      margin-bottom: rem(5px);
    }
  }
}

.dropdown--date {
  margin-bottom: rem(20px);
}

.dropdown {
  width: rem(267px);
  margin-bottom: rem(30px);
  &--apply {
    &__heading {
      margin-bottom: rem(5px);
    }
  }
}

.range-slider {
  margin-bottom: rem(14px);
  &__range {
    margin-bottom: rem(10px);
  }
  &__description {
    @extend %heading-body;
    font-size: 12px;
    color: map-get($colors, 'main-50');
  }
}

.checkbox-buttons {
  display: flex;
  flex-direction: column;
  .checkbox__label:not(:last-of-type) {
    margin-bottom: rem(12px);
  }
}
.rich-checkboxes {
  margin-bottom: rem(30px);
}
.expandable {
  &:not(.expanded) {
    // 49px margin (-20 because there is a margin in the expandable)
    margin-bottom: rem(49px) - rem(20px);
  }
  .checkbox__label {
    display: flex;
    align-items: center;
  }
}