.main-logo {
  position: absolute;
  left: 1.875rem;
  top: 1.875rem;
  @include media-sm {
    left: auto;
    right: 1.875rem;
  }
}
body {
  background-color: #F4F4F6;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  justify-content: space-between;
  flex: 0 1 1160px;
  flex-wrap: wrap;
  max-width: 1160px;
  padding: 150px 0 140px 0;
  @include media-x-lg {
    justify-content: space-around;
    padding: 150px 10px 140px 10px;
  }
  @include media-lg {
    margin: 0 -10px;
  }
  @include media-sm {
    margin: 0;
    padding: 150px 0 140px 0;
  }
}