.main-logo {
	position: absolute;
	top: 1.875rem;
	left: 1.875rem;
	@include media-sm {
		right: 1.875rem;
		left: auto;
	}
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: rem(140px) 0;

	background-color: #f4f4f6;
}

.main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	@include media-x-lg {
		justify-content: space-around;
	}
	@include media-lg {
		margin: -1 * rem(10px) 0 0 -1 * rem(10px);
	}
	@include media-sm {
		margin: 0;
	}
}
