.main-logo {
  position: absolute;
  left: 1.875rem;
  top: 1.875rem;
  @include media-sm {
    left: auto;
    right: 1.875rem;
  }
}

body {
  background-color: #F4F4F6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: rem(140px) 0;
}

.main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @include media-x-lg {
    justify-content: space-around;
  }
  @include media-lg {
    margin: -1 * rem(10px) 0 0 -1 * rem(10px);
  }
  @include media-sm {
    margin: 0;
  }
}