{
  "extends": [
    "stylelint-config-sass-guidelines",
    "stylelint-config-rational-order"
  ],
  "rules": {
    "indentation": "tab",
    "max-nesting-depth": [
      2,
      {
        "ignoreAtRules": [
          "each",
          "media",
          "supports",
          "include"
        ]
      }
    ],
    "order/properties-alphabetical-order": null,
    "plugin/rational-order": [true, {
      "empty-line-between-groups": true
    }]
  }
}