extends pages/ui-base/ui-base

block links
    link(rel='stylesheet', href='test.css')

block content
    .main-container
        include modules/forms/text-field/__text-field
        +text-field('email','email', 'Email')
        include modules/forms/toggle/__toggle
        +toggle('specials', 'Получать спецпредложения', false)
        +toggle('specials', 'Получать спецпредложения', true)
        include modules/forms/radio/__radio
        +radio('sex', 'Мужчина', 'male')
        +radio('sex', 'Женщина', 'female')
        include modules/forms/checkbox/__checkbox
        +checkbox('smoking', 'Можно курить')
        include modules/forms/subscription-tf/__subscription-tf
        include modules/forms/like-btn/__like-btn
        +like-btn('12')
        +like-btn('3')
        +like-btn('5')
        +like-btn('1')
        script(src='modules/forms/like-btn/__like-btn.js')
