.header__item:first-of-type a, .body-text {
  color: rgba(31, 32, 65, 0.75);
}

.link {
  color: rgba(31, 32, 65, 0.5);
}

.btn-border__link {
  color: #BC9CFF;
}

@font-face {
  font-family: "Quicksand";
  src: url("../../fonts/Quicksand-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Quicksand";
  src: url("../../fonts/Quicksand-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat-Bold.ttf");
  font-weight: bold;
}
.link, .body-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
}

.header__item:first-of-type a, .heading-3, .btn-border__link, .btn {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
}

.heading-3, .btn-border__link, .btn {
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #1F2041;
}

.body-text {
  font-size: 0.875rem;
  line-height: 1.5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
}

.main-logo {
  position: absolute;
  left: 1.875rem;
  top: 1.875rem;
}
@media (max-width: 567.98px) {
  .main-logo {
    left: auto;
    right: 1.875rem;
  }
}

.btn {
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  padding: 0.625rem 1.25rem;
  border-radius: 22px;
}

.btn-border {
  padding: 2px;
  background: linear-gradient(to bottom, #BC9CFF, #8BA4F9);
  border-radius: 22px;
  display: inline-block;
  text-align: center;
}
.btn-border__link {
  background: white;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.55rem 1.5rem;
  border-radius: 20px;
}

.link {
  display: flex;
  align-items: center;
  font-size: 14px;
  text-decoration: none;
}

.link--dropdown {
  display: flex;
  padding-top: 2px;
}
.link--dropdown .arrow {
  fill: rgba(31, 32, 65, 0.5);
}

.header {
  height: 70px;
  padding: 15px 140px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1160px;
}
.header__brand {
  display: flex;
  align-items: center;
}
.header__logo-link {
  display: flex;
}
.header__links {
  padding: 0;
  margin: 0 -8px;
  list-style: none;
  display: flex;
  align-items: center;
}
.header__item {
  padding: 0 8px;
}
.header__vline {
  border-left: 1px solid rgba(31, 32, 65, 0.1);
  height: 30px;
}

.link {
  display: flex;
  align-items: center;
  font-size: 14px;
  text-decoration: none;
}

.footer-main {
  padding: 100px 140px;
}
.footer-main__row {
  display: flex;
  justify-content: space-between;
  max-width: 1160px;
}
.footer-main__column {
  display: flex;
  flex-direction: column;
}
.footer-main__column .link {
  padding-top: 20px;
}
.footer-main__column--big {
  flex: 0 1 260px;
}
.footer-main__column--big .body-text {
  padding-top: 20px;
}

body {
  padding: 200px 0;
}

.padding {
  height: 200px;
  padding: 100px;
}

/*# sourceMappingURL=test.css.map */
