.toggle__label, .text-field--masked, .text-field {
  color: rgba(31, 32, 65, 0.75);
}

.toggle__label {
  color: rgba(31, 32, 65, 0.5);
}

.text-field--masked::placeholder, .text-field::placeholder {
  color: rgba(31, 32, 65, 0.25);
}

@font-face {
  font-family: "Quicksand";
  src: url("../../fonts/Quicksand-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Quicksand";
  src: url("../../fonts/Quicksand-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat-Bold.ttf");
  font-weight: bold;
}
.toggle__label, .text-field--masked, .text-field {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
}

.toggle__label, .text-field--masked, .text-field {
  font-size: 0.875rem;
  line-height: 1.5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
}

.main-logo {
  position: absolute;
  left: 1.875rem;
  top: 1.875rem;
}
@media (max-width: 567.98px) {
  .main-logo {
    left: auto;
    right: 1.875rem;
  }
}

.text-field--masked, .text-field {
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  padding: 12px 15px;
  transition: border-color 0.3s ease-out;
}
.text-field--masked:focus, .text-field:focus, .text-field--masked:active, .text-field:active {
  border-color: rgba(31, 32, 65, 0.5);
  transition: border-color 0.3s ease-out;
  color: rgba(31, 32, 65, 0.75);
  outline: none;
}

.text-field {
  width: 320px;
  height: 44px;
}
.text-field:focus::placeholder {
  color: transparent;
}

.text-field--masked, .text-field {
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  padding: 12px 15px;
  transition: border-color 0.3s ease-out;
}
.text-field--masked:focus, .text-field:focus, .text-field--masked:active, .text-field:active {
  border-color: rgba(31, 32, 65, 0.5);
  transition: border-color 0.3s ease-out;
  color: rgba(31, 32, 65, 0.75);
  outline: none;
}

.text-field--masked {
  width: 320px;
  height: 44px;
}
.toggle {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  user-select: none;
}
.toggle__box {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.toggle__box:checked + .toggle__button {
  border-color: #BC9CFF;
}
.toggle__box:checked + .toggle__button::before {
  transform: translateX(22px);
}
.toggle__box:checked + .toggle__button .toggle__dummybg::before {
  opacity: 0;
  transform: translateX(22px);
}
.toggle__box:active + .toggle__button {
  box-shadow: 0 0 1px #BC9CFF;
}
.toggle__button {
  position: relative;
  cursor: pointer;
  width: 40px;
  height: 20px;
  flex: 0 0 auto;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 10px;
  margin-right: 10px;
  transition: 0.4s;
}
.toggle__button::before, .toggle__button .toggle__dummybg::before {
  content: "";
  position: absolute;
  cursor: pointer;
  left: 2px;
  bottom: 3px;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  transition: 0.4s;
}
.toggle__button .toggle__dummybg {
  display: inline-block;
  width: 38px;
  height: 18px;
}
.toggle__button .toggle__dummybg::before {
  background: #bfbdc9;
  opacity: 1;
}
.toggle__button::before {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
.toggle__label {
  line-height: normal;
  color: rgba(31, 32, 65, 0.75);
}

body {
  background: #F4F4F6;
}
body .main-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 140px 100px;
  max-width: 1440px;
}

/*# sourceMappingURL=test.css.map */
