@import "pages/ui-base/ui-base";
@import "modules/forms/text-field/__text-field";
@import "modules/forms/text-field/__masked/__masked";
@import "modules/forms/checkbox/__checkbox";
@import "modules/forms/checkbox/__checkbox--rich";
@import "modules/forms/radio/__radio";
@import "modules/forms/toggle/__toggle";
@import "modules/forms/like-btn/__like-btn";
@import "modules/expandable/__expandable";
@import "modules/advantage/__advantage";
@import "modules/rate-btn/__rate-btn";
@import "modules/bullet-list/__bullet-list";
@import "modules/btn/__btn";
@import "modules/btn/__btn-border";
@import "modules/btn/__btn-bdless";
@import "modules/feedback/__feedback";
@import "modules/forms/dropdown/__dropdown";
@import "modules/forms/dropdown/dropdown--guests/__dropdown--guests";
@import "modules/forms/dropdown/dropdown--date/__dropdown--date";
@import "modules/pagination/__pagination";
@import "modules/cards/__roomsearch/__roomsearch";
@import "modules/cards/__registration/__registration";
@import "modules/cards/__sign-in/__sign-in";
@import "modules/cards/__booking/__booking";
@import "modules/slideshow/__slideshow";
@import "modules/cards/__room/__room";

body {
  .main-container {
    margin: 0 auto;
    padding: 140px 100px;
    max-width: 1440px;
    //display: flex;
    //flex-direction: column;
  }
}