extends pages/ui-base/ui-base

block links
    link(rel='stylesheet', href='test.css')

block content
    .main-container
        include modules/forms/text-field/__text-field
        +text-field('email','email', 'Email')
        include modules/forms/toggle/__toggle
        +toggle('specials', 'Получать спецпредложения', false)
        +toggle('specials', 'Получать спецпредложения', true)
        include modules/forms/radio/__radio
        +radio('sex', 'Мужчина', 'male')
        +radio('sex', 'Женщина', 'female')
        include modules/forms/checkbox/__checkbox
        +checkbox('smoking', 'Можно курить')
        include modules/forms/subscription-tf/__subscription-tf
        include modules/forms/like-btn/__like-btn
        +like-btn('12')
        +like-btn('3')
        +like-btn('5')
        +like-btn('1')
        include modules/expandable/__expandable
        +expandable('expandable checkbox list')
            .expandable__content
                +checkbox('breakfast', 'Завтрак')
                +checkbox('desk', 'Письменный стол')
                +checkbox('feeding-chair', 'Стул для кормления')
                +checkbox('children-bed', 'Кроватка')
                +checkbox('tv1', 'Телевизор')
                +checkbox('shampoo1', 'Шампунь')
                +checkbox('tv2', 'Телевизор')
                +checkbox('shampoo2', 'Шампунь')
        include modules/advantage/__advantage
        +advantage('Комфорт', 'Шумопоглощающие стены', '1')
        +advantage('Удобство', 'Окно в каждой из спален', '2')
        +advantage('Уют', 'Номер оснащён камином', '3')
        +checkbox('invalid', ['Помощник для инвалидов', 'На 1 этаже вас встретит специалист  и проводит до номера.'], true)
        +checkbox('corridor', ['Широкий коридор', 'Ширина коридоров в номере не менее 91 см.'], true)
        include modules/bullet-list/__bullet-list
        +bullet-list(['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00','Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00'])
        include modules/rate-btn/__rate-btn
        +rate-btn
        +rate-btn
        +rate-btn
        include modules/btn/__btn
        include modules/btn/__btn-border
        include modules/btn/__btn-bdless
        +btn('Забронировать', '#', 'btn--arrow')
        +btn-border('click me', '#', true)
        +btn-bdless('click me', '#', true)
        include modules/feedback/__feedback
        +feedback(['https://sun9-59.userapi.com/c845124/v845124363/ac661/Qtvsb1YKyX4.jpg?ava=1', 'someimage'], 'Мурад Сарафанов', '5 дней назад', '11', 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.')
        include modules/forms/dropdown/__dropdown
        +dropdown('Сколько гостей', ['взрослые', 'дети', 'младенцы'], 'dropdown--guests', 'buttons')
        +dropdown('Сколько спален, кроватей', ['спальни', 'кровати', 'ванные комнаты'], 'dropdown--rooms')
        +dropdown('ДД.ММ.ГГГГ', '', 'dropdown--date', 'buttons')
        +dropdown('ДД.ММ.ГГГГ', '', 'dropdown--date')
        include modules/pagination/__pagination
        +pagination(15)
        include modules/cards/__roomsearch/__roomsearch
        include modules/cards/__registration/__registration
        include modules/cards/__sign-in/__sign-in
        include modules/cards/__booking/__booking
        +roomsearch
        +registration
        +sign-in
        +booking('888', '9 990', '2 179', true)
        +booking('765', '2 440', '1 565')
        script(src='modules/forms/dropdown/dropdown--date/formatter.js')
        script(src='modules/forms/like-btn/__like-btn.js')
        script(src='modules/expandable/__expandable.js')
        script(src='modules/rate-btn/__rate-btn.js')
        script(src='modules/forms/dropdown/__dropdown.js')
        script(src='modules/forms/dropdown/dropdown--guests/__dropdown--guests.js')
        script(src='modules/forms/dropdown/dropdown--date/__dropdown--date.js')
        script(src='modules/cards/__booking/__booking.js')
