@keyframes like {
	0% {
		transform: scale(1);
	}

	50% {

	}

	100% {
		transform: scale(1);
	}
}

@keyframes like-border {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.03);
	}

	100% {
		transform: scale(1);
	}
}

.like-btn {
	position: relative;
	// BORDER STYLES
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 1px;

	background: rgba(31, 32, 65, 0.25);
	border-radius: rem(10px);
	-webkit-tap-highlight-color: transparent;
	// CONTAINER STYLES
	&__container {
		display: inline-flex;
		align-items: center;
		height: rem(18px);

		text-decoration: none;

		background: #fff;
		border-radius: rem(9px);
	}
	// ICON STYLES
	&__icon {
		width: rem(19px);
		height: 100%;
		background: {
			position: center center;
			image: url('~Images/ui/like-icon--border.svg');
			repeat: no-repeat;
		}
	}
	// COUNTER STYLES
	&__count {
		@extend %heading-body;
		min-width: rem(19px);
		padding: 0 rem(7px) 0 rem(2px);

		color: map-get($colors, 'main-25');
		font-size: rem(10px);
		line-height: normal;

		transition: 0.2s;
	}
}
// ACTIVE STYLES
.like-btn.active {
	background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
	border-radius: 10px;

	animation: like-border 0.3s ease-out;

	.like-btn {
		&__container {
			.like-btn__icon {
				background-image: url('~Images/ui/like-icon.svg');

				animation: like 0.3s ease-out;
			}

			.like-btn__count {
				color: map_get($colors, 'primary');

				transition: none;
				animation: like-border 0.3s ease-out;
			}
		}

	}
}
