@keyframes like {
  0% {
    transform: scale(1);
  }
  50% {

  }
  100% {
    transform: scale(1);
  }
}

@keyframes like-border {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}

.like-btn {
  -webkit-tap-highlight-color: transparent;
  // BORDER STYLES
  display: inline-flex;
  //background: rgba(31, 32, 65, 0.25);
  height: rem(20px);
  padding: rem(1px);
  //border-radius: 10px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(31, 32, 65, 0.25);
    border-radius: 10px;
    z-index: -1;
  }
  // CONTAINER STYLES
  &__container {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    background: #FFFFFF;
    height: 100%;
    border-radius: 9px;
  }
  // ICON STYLES
  &__icon {
    width: rem(19px);
    height: 100%;
    background: {
      image: url("/assets/img/ui/like-icon--border.svg");
      repeat: no-repeat;
      position: center center;
    }
  }
  // COUNTER STYLES
  &__count {
    @extend %heading-body;
    line-height: normal;
    font-size: rem(10px);
    padding: 0 rem(7px) 0 rem(2px);
    min-width: rem(19px);
    color: map-get($colors, 'main-25');
    transition: .2s;
  }
}

// ACTIVE STYLES
.like-btn.active {
  &::before {
    background: transparent;
  }
  background: linear-gradient(to bottom, #BC9CFF, #8BA4F9);
  animation: like-border .3s ease-out;
  border-radius: 10px;
  .like-btn {
    &__container {
      .like-btn__icon {
        animation: like .3s ease-out;
        background-image: url("/assets/img/ui/like-icon.svg");
      }
      .like-btn__count {
        color: map_get($colors, 'primary');
        transition: none;
        animation: like-border .3s ease-out;
      }
    }

  }
}