.footer-copyright
    .footer-copyright__container
        +body-text('Copyright © 2018 Toxin отель. Все права зачищены.', 'footer-copyright__rights')
        include ../../socials/__socials
        +socials