@import "./src/pug/includes/forms/radio/radio";
@import "./src/pug/includes/forms/toggle/toggle";
@import "./src/pug/includes/btn/btn";
@import "./src/pug/includes/btn/--border/btn--border";
@import '~/pug/includes/btn/--arrow/btn--arrow';
@import "./src/assets/scss/modules/text-field";

.registration {
  @extend .roomsearch;
  &__heading {
    @extend .roomsearch__heading;
  }
  .text-field {
    margin-bottom: 10px;
    &--masked {
      margin-bottom: 20px;
    }
  }
  .radio {
    &:first-child {
      margin-right: 20px;
    }
  }
  &__radio {
    margin-bottom: 20px;
  }
  &__subheading {
    @extend %heading-3;
    margin-bottom: 5px;
  }
  .toggle {
    margin-bottom: 20px;
  }
  &__payment {
    margin-bottom: 30px;
  }
  &__isregged {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__text {
    @extend %heading-body;
    color: #000000;
    line-height: 18px;
  }
  .btn-border__link {
    padding: 13px 25px;
  }
}