include ../../forms/radio/radio
include ../../forms/toggle/toggle
include ../../btn/btn
include ../../btn/--border/btn--border

form.registration
    h1.registration__heading Регистрация аккаунта
    input.text-field(type='text', name='name', placeholder='Имя')
    input.text-field(type='text', name='surname', placeholder='Фамилия')
    .registration__radio
        +radio({name:'sex', title: 'Мужчина', value: 'male'})(checked= 'checked')
        +radio({name: 'sex', title: 'Женщина', value: 'female'})
    h3.registration__subheading дата рождения
    input.text-field.text-field--masked(type='text', name='birthdate', placeholder='ДД.ММ.ГГГГ')
    h3.registration__subheading данные для входа в сервис
    input.text-field(type='email', autocomplete='username' name='email', placeholder='Email')
    input.text-field(type='password', autocomplete='current-password', name='password', placeholder='Пароль')
    +toggle({id: 'specials',title: 'Получать спецпредложения'})
    +btn({text: 'перейти к оплате', href: '#', submit: true})(class='btn--arrow registration__payment')
    .registration__isregged
        p.registration__text Уже есть аккаунт на Toxin
        +btn-border({text: 'войти', href: 'https://troalexis.github.io/pages/sign-in'})



//+toggle('specials', 'Получать спецпредложения')
//+radio('man', 'Мужчина', 'man')