@import "./src/pug/includes/forms/radio/radio";
@import "./src/pug/includes/forms/toggle/toggle";
@import "./src/pug/includes/btn/btn";
@import "./src/pug/includes/btn/--border/btn--border";
@import '~/pug/includes/btn/--arrow/btn--arrow';
@import "./src/assets/scss/modules/text-field";

.registration {
  @extend .roomsearch;
  &__heading {
    @extend .roomsearch__heading;
  }
  .text-field {
    margin-bottom: rem(10px);
    &--masked {
      margin-bottom: rem(20px);
    }
  }
  .radio {
    &:first-child {
      margin-right: rem(20px);
    }
  }
  &__radio {
    margin-bottom: rem(20px);
  }
  &__subheading {
    @extend %heading-3;
    margin-bottom: rem(5px);
  }
  .toggle {
    margin-bottom: rem(20px);
  }
  &__payment {
    margin-bottom: rem(30px);
  }
  &__isregged {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__text {
    @extend %heading-body;
    color: #000000;
    line-height: rem(18px);
  }
  .btn-border__link {
    padding: rem(13px) rem(25px);
  }
}