// ----------- BTN-BORDER ------------
.btn-border {
  display: inline-block;
  border-radius: 22px;
  padding: 2px;
  background: linear-gradient(to bottom, #BC9CFF, #8BA4F9);
  text-align: center;
  // ----------- DISABLED------------
  &--disabled {
    background: linear-gradient(to bottom, rgba(188, 156, 255, 0.5), rgba(139, 164, 249, 0.5));
  }
  // ----------- LINK TEXT ------------
  &__link {
    display: block;
    border-radius: 20px;
    padding: rem(9.5px) rem(17px);
    @extend %heading-3;
    text-decoration: none;
    text-transform: uppercase;
    color: map-get($colors, 'primary');
    background: white;
  }
}