@import "../link/link";
@import "../btn/btn";
@import "../btn/--border/btn--border";

.header {
  display: flex;
  height: 70px;
  justify-content: center;
  &__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px 140px;
    @include media-x-lg {
      padding: 15px 35px;
    }
  }
  &__brand {
    display: flex;
    align-items: center;
  }
  &__logo {
    display: flex;
  }

  &__links {
    display: flex;
    align-items: center;
    margin: 0 -8px;
    padding: 0;
    list-style: none;
    @include media-x-lg {
    }
  }

  &__item {
    padding: 0 8px;
    &:first-of-type a {
      color: map-get($colors, 'main-75');
      @extend %font-secondary-bold;
    }
    .btn-border {
      margin-right: 20px;
    }
  }

  &__vline {
    height: 30px;
    border-left: 1px solid map-get($colors, 'main-10');
  }
}