mixin header(header_links, is_auth, username)
    header.header
        nav.header__container
            a.header__logo(href='#')
                include ../../../assets/img/ui/__main-logo-gradient.svg
            ul.header__links
                each link in header_links
                    -const href= link[1]
                    -const text= link[0]
                    -const dropdown= link[2]
                    li.header__item
                        include ../link/link
                        +link(href, text, dropdown)
                unless is_auth
                    include ../btn/--border/btn--border
                    li.header__item
                        +btn-border('Войти', '#', 'header__container,0,1199')
                        include ../btn/btn
                        +btn('Зарегистрироваться', '#', 'header__item-button', '', 'header__container,0,1199')
                else
                    .header__vline
                    li.header__item
                        +link('#', username || 'Юлий Цезарь')