.advantage {
  display: inline-flex;
  padding: 20px 0;
  &__label {
    @extend %heading-body;
    margin-left: 10px;
    padding-right: 36px;
    max-width: 280px;
  }
  &__title {
    font-weight: bold;
    overflow-wrap: break-spaces;
  }
  &__icon {
    display: flex;
    @include size(48px);
    align-items: center;
    justify-content: center;
  }
  &__hr {
    width: 280px;
    height: 1px;
    margin: 0;
    border: none;
    background-color: map-get($colors, 'main-10');
  }
}