.advantage {
  display: inline-flex;
  padding: rem(20px) 0;
  &__label {
    @extend %heading-body;
    margin-left: rem(20px);
    padding-right: rem(36px);
    max-width: rem(280px);
  }
  &__title {
    font-weight: bold;
    overflow-wrap: break-spaces;
  }
  &__icon {
    display: flex;
    @include size(rem(48px));
    align-items: center;
    justify-content: center;
  }
  &__hr {
    width: rem(280px);
    height: rem(1px);
    margin: 0;
    border: none;
    background-color: map-get($colors, 'main-10');
  }
}