.btn {
  background: white;
  display: block;
  text-decoration: none;
  @extend %heading-3;
  text-transform: uppercase;
  @extend %primary;
  padding: .55rem 1.5rem;
  border-radius: 20px;
}

.btn-border {
  padding: 2px;
  background: linear-gradient(to bottom, #BC9CFF, #8BA4F9);
  border-radius: 22px;
  display: inline-block;
  text-align: center;
}