.btn {
  @extend %heading-3;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  padding: 0.90625rem 0;
  border-radius: 22px;
  position: relative;
  &--disabled {
    opacity: 0.5;
  }
  &--arrow {
    display: inline-flex;
    width: 320px;
    align-items: center;
    justify-content: center;
    &::after {
      content: '';
      position: absolute;
      right: 0;
      background: url('../../img/__arrow_forward--white.svg') center center no-repeat;
      width: 44px;
      height: 44px;
    }
  }
}