.comment {
  @extend %heading-body;
  &__info, &__description {
    display: flex;
  }
  &__info {
    margin-bottom: 10px;
  }
  &__image {
    width: 48px;
    height: 48px;
    border: 2px solid #FFFFFF;
    box-shadow: 0 10px 20px rgba(31, 32, 65, 0.1);
    border-radius: 32px;
    margin-right: 10px;
  }
  &__name {
    font-weight: bold;
  }
  &__button {
    text-align: center;
    margin-right: 10px;
    flex: 0 0 48px;
    .like-btn {
      margin: 0 auto;
    }
  }
  &__content {
    flex: 0 1 655px;
  }
}