include ../link/link
footer.footer-main
    .footer-main__container.u-container
        .footer-main__row
            .footer-main__column.footer-main__column--big
                .footer-main__logo
                    img(src=require('Images/ui/main-logo-gradient.svg'), alt='Toxin')
                p.body-text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
            .footer-main__column
                h3.heading-3.footer-main__heading-3h навигация
                +link('#', 'О нас')
                +link('#', 'Новости')
                +link('#', 'Служба поддержки')
                +link('#', 'Услуги ')
            .footer-main__column
                h3.heading-3.footer-main__heading-3h о нас
                +link('#', 'О сервисе')
                +link('#', 'Наша команда')
                +link('#', 'Вакансии')
                +link('#', 'Инвесторы ')
            .footer-main__column
                h3.heading-3.footer-main__heading-3h Служба поддержки
                +link('#', 'Соглашения')
                +link('#', 'Сообщества')
                +link('#', 'Связь с нами')
            .footer-main__column.footer-main__column--big
                h3.heading-3.footer-main__heading-3h подписка
                p.body-text Получайте специальные предложения и новости сервиса
                include ../forms/subs-form/subs-form
                +subs-form
    include --copyright/footer--copyright