// -----------MAIN LINK------------
.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: rem(14px);
  @extend %font-secondary;
  color: map-get($colors, 'main-50');
}
// -----------LINK DROPDOWN------------
.link {
  &--dropdown {
    display: flex;
    padding-top: rem(2px);
    .arrow {
      fill: map_get($colors, 'main-50');
    }
  }
}