.footer-copyright
    .footer-copyright__container
        p.body-text.footer-copyright__rights Copyright © 2018 Toxin отель. Все права зачищены.
        include ../../socials/socials
        +socials