@import "../../link/_link";
@import "../../type/__body-text/_body-text";
@import "../../type/__heading-3/__heading-3";
@import "../../forms/subscription-tf/__subscription-tf";
@import "../__footer-copyright/__footer-copyright";

.footer-main {
  //height: 372px;
  &__container {
    padding: 100px 140px;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    max-width: 1160px;
  }
  &__column {
    display: flex;
    flex-direction: column;
    .link {
      margin-top: 20px;
    }
    &--big {
      flex: 0 1 260px;
      .body-text {
        margin-top: 20px;
      }
      .subscription-tf {
        margin-top: 20px;
      }
    }
  }
}