@import "~Includes/forms/checkbox/checkbox";

.checkbox__label--rich {
  max-width: rem(266px);
  .checkbox__info {
    .checkbox__title {
      font-weight: bold;
      color: map-get($colors, 'main-75');
      margin-bottom: rem(5px);
    }
  }
}