mixin socials
    .socials
        span.socials__icon
            include ../../img/__twitter.svg
        span.socials__icon
            include ../../img/__face.svg
        span.socials__icon
            include ../../img/__inst.svg