//- DROPDOWN WITH NO BUTTONS (AUTOMATIC CHANGE) - +dropdown({heading, phText, selectOptions, type})
//- DROPDOWN WITH BUTTONS - +dropdown({heading, phText, selectOptions, type, buttons: true})
// inf {heading: string,phText: string, selectOptions: list of elements, type: string, buttons: boolean}

mixin dropdown(options)
    .dropdown(class=options.type)&attributes(attributes)
        if options.heading
            h3.heading-3.dropdown--apply__heading= options.heading
        a.dropdown__select
            span=options.phText
        .dropdown__content
            -const notLast = '';
            each item, index in options.selectOptions
                .dropdown__item(class=(index < options.selectOptions.length - 1) ? notLast : 'dropdown__item--last')
                    h3.heading-3.dropdown__label= item
                    button.dropdown__minus.disabled
                    h3.heading-3.dropdown__count 0
                    button.dropdown__plus
            if options.buttons
                include ../../btn/--bdless/btn--bdless
                +btn-bdless({text: 'применить'})(class='dropdown__apply')
                +btn-bdless({text: 'очистить'})(class='btn-bdless--disabled dropdown__clear')


