.header__item:first-of-type a, .subscription-tf__input, .body-text {
  color: rgba(31, 32, 65, 0.75);
}

.link {
  color: rgba(31, 32, 65, 0.5);
}

.btn-border__link {
  color: #BC9CFF;
}

@font-face {
  font-family: "Quicksand";
  src: url("../../fonts/Quicksand-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Quicksand";
  src: url("../../fonts/Quicksand-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat-Bold.ttf");
  font-weight: bold;
}
.link, .subscription-tf__input, .body-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
}

.header__item:first-of-type a, .heading-3, .btn-border__link, .btn {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
}

.heading-3, .btn-border__link, .btn {
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #1F2041;
}

.subscription-tf__input, .body-text {
  font-size: 0.875rem;
  line-height: 1.5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
}

.main-logo {
  position: absolute;
  left: 1.875rem;
  top: 1.875rem;
}
@media (max-width: 567.98px) {
  .main-logo {
    left: auto;
    right: 1.875rem;
  }
}

.btn {
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  padding: 0.625rem 1.25rem;
  border-radius: 22px;
}

.btn-border {
  padding: 2px;
  background: linear-gradient(to bottom, #BC9CFF, #8BA4F9);
  border-radius: 22px;
  display: inline-block;
  text-align: center;
}
.btn-border__link {
  background: white;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.55rem 1.5rem;
  border-radius: 20px;
}

.link {
  display: flex;
  align-items: center;
  font-size: 14px;
  text-decoration: none;
}

.link--dropdown {
  display: flex;
  padding-top: 2px;
}
.link--dropdown .arrow {
  fill: rgba(31, 32, 65, 0.5);
}

.header {
  height: 70px;
  display: flex;
  justify-content: center;
}
.header__container {
  display: flex;
  padding: 15px 140px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.header__brand {
  display: flex;
  align-items: center;
}
.header__logo-link {
  display: flex;
}
.header__links {
  padding: 0;
  margin: 0 -8px;
  list-style: none;
  display: flex;
  align-items: center;
}
.header__item {
  padding: 0 8px;
}
.header__vline {
  border-left: 1px solid rgba(31, 32, 65, 0.1);
  height: 30px;
}

.link {
  display: flex;
  align-items: center;
  font-size: 14px;
  text-decoration: none;
}

.subscription-tf {
  display: flex;
  width: 267px;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  padding: 2px 0 2px 5px;
}
.subscription-tf__input {
  flex-grow: 2;
  border: none;
  padding: 10px 0 10px 10px;
}
.subscription-tf__input:focus {
  outline: none;
}
.subscription-tf__submit {
  border: none;
  background: none;
  padding: 0;
  width: 44px;
  height: 100%;
}
.subscription-tf__submit:focus {
  outline: none;
}

.socials {
  display: flex;
  margin: 0 -10px;
}
.socials__icon {
  padding: 0 10px;
}

.footer-copyright {
  border-top: 1px solid rgba(31, 32, 65, 0.25);
  padding: 24px 140px;
}
.footer-copyright__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-main__container {
  padding: 100px 140px;
}
.footer-main__row {
  display: flex;
  justify-content: space-between;
  max-width: 1160px;
}
.footer-main__column {
  display: flex;
  flex-direction: column;
}
.footer-main__column .link {
  margin-top: 20px;
}
.footer-main__column--big {
  flex: 0 1 260px;
}
.footer-main__column--big .body-text {
  margin-top: 20px;
}
.footer-main__column--big .subscription-tf {
  margin-top: 20px;
}

.socials {
  display: flex;
  margin: 0 -10px;
}
.socials__icon {
  padding: 0 10px;
}

.footer-creative {
  width: 768px;
  margin: 0 auto;
}
.footer-creative__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 104px;
}
.footer-creative__container .body-text {
  margin: 20px 0 25px 0;
}

body {
  background: #F4F4F6;
}
body .main-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 140px 0;
  max-width: 1440px;
}
body .header {
  margin-bottom: 40px;
}
body .footer-main {
  margin-bottom: 40px;
}
body .header,
body .footer-main,
body .footer-copyright,
body .footer-creative {
  background: #FFFFFF;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);
}

/*# sourceMappingURL=headers-footers.css.map */
