extends ../ui-base/ui-base

block head
    -var pageTitle ='Headers & Footers'

block links
    link(rel='stylesheet' href='headers-footers.css')

block content
    .main-container
        include ../../modules/header/__header
        +header([['О нас', '#'], ['Услуги', '#', 'dropdown'], ['Вакансии', '#'], ['Новости', '#'], ['Соглашения', '#', 'dropdown']], false)
        +header([['О нас', '#'], ['Услуги', '#', 'dropdown'], ['Вакансии', '#'], ['Новости', '#'], ['Соглашения', '#', 'dropdown']], true)
        include ../../modules/footer/__footer-main/__footer-main
        include ../../modules/footer/__footer-creative/__footer-creative