mixin range-slider(options)
    .range-slider&attributes(attributes)
        .range-slider__range
    if options
        if options.description
            p.range-slider__description= options.description