-var header_links=['О нас', 'Услуги', 'Вакансии', 'Новости', 'Соглашения']

header.header-unauth
    .header-unauth__container
        .header-unauth__brand
            .header-unath__logo
                include ../../img/__main-logo.svg
            .header-unath__name
                include ../../img/__toxin.svg
        ul.header-unath__links
            each text in header_links
                li.header-unath__item
                    a.header-unath__link=text
                li.header-unath__btn-container
