extends ../layout/ui-base

block head
    -const pageTitle = 'Cards';

block content
    main.main.u-container
        .group.group--1
            include ../includes/cards/room-search/roomsearch
            include ../includes/cards/registration/registration
        .group.group--2
            include ../includes/cards/booking/booking
            +booking('888', '9 990', '2 179', true)
            include ../includes/cards/sign-in/sign-in
        .group.group--3
            include ../includes/forms/calendar/calendar
            +input-calendar(['прибытие', 'выезд'])
            include ../includes/cards/room/room
            - const getRandomInt= function(min, max) {min = Math.ceil(min);max = Math.floor(max);return Math.floor(Math.random() * (max - min)) + min;}
            +roomcard({roomnum: '888', lux: true, price: '9 990', reviews: 145, rating: 5, urls: [getRandomInt(1,20),
                    getRandomInt(1,20), getRandomInt(1,20), getRandomInt(1,20)]})
            +roomcard({roomnum: '840', lux: false, price: '9 900', reviews: 65, rating: 4, urls: [getRandomInt(1,20),
                    getRandomInt(1,20), getRandomInt(1,20), getRandomInt(1,20)]})

