extends ../layout/ui-base

block head
    - const pageTitle = 'Form Elements';

block content
    main.main.u-container
        .inputs-buttons
            .inputs-buttons__text-inputs
                +element([{name: 'text field'}, {attributes: {class: 'element__subheading'}, name: 'default'}])
                    input.text-field(type='email', name='email' placeholder='Email')
                +element([{name: 'text field'}, {attributes: {class: 'element__subheading'}, name: 'hover / focus'}])
                    input.text-field.focus(type='email', name='email' placeholder='This is pretty awesome')
                +element([{name: 'dropdown'}, {attributes: {class: 'element__subheading'}, name: 'default'}])
                    include ../includes/forms/dropdown/dropdown
                    +dropdown({phText: 'Сколько гостей', selectOptions: ['взрослые', 'дети', 'младенцы'], type: 'dropdown--apply', buttons: true})
                +element([{name: 'masked text field'}, {attributes: {class: 'element__subheading'}, name: 'default'}])
                    input.text-field.text-field--masked(type='text', name='birthdate', placeholder='ДД.ММ.ГГГГ')
                +element([{name: 'date dropdown'}, {name: 'date dropdown'}])(class='form-calendar')
                    include ../includes/forms/calendar/calendar
                    +input-calendar(['прибытие', 'выезд'])
                +element([{name: 'filter date dropdown'}])
                    +input-calendar(['даты пребывания в отеле'] ,'dropdown--date')
                +element([{name: 'subscription text field'}])
                    include ../includes/forms/subs-form/subs-form
                    +subs-form
            .inputs-buttons__form-inputs
                +element([{name: 'checkbox buttons'}])(class='checkbox-buttons')
                    include ../includes/forms/checkbox/checkbox
                    +checkbox({id: 'smoking', title: 'Можно курить'})
                    +checkbox({id: 'pets', title: 'Можно с питомцами'})(checked='checked')
                    +checkbox({id: 'guests', title: 'Можно пригласить гостей (до 10 человек)'})(checked='checked')
                +element([{name: 'radio buttons'}])(class='radio-buttons')
                    include ../includes/forms/radio/radio
                    +radio({name: 'sex', value: 'male', title: 'Мужчина'})(checked='checked')
                    +radio({name: 'sex', value: 'female', title: 'Женщина'})
                +element([{name: 'toggle'}])(class='toggle-buttons')
                    include ../includes/forms/toggle/toggle
                    +toggle({id: 'specials-1', title: 'Получать спецпредложения'})(checked='checked')
                    +toggle({id: 'specials-2', title: 'Получать спецпредложения'})
                +element([{name: 'like button'}])(class='like-buttons')
                    include ../includes/forms/like-btn/like-btn
                    +like-btn({count: 2})
                    +like-btn({count: 12})(class='active')
                +element([{name: 'rate button'}])(class='rate-buttons')
                    include ../includes/rate-btn/rate-btn
                    +rate-btn({rating: 4})
                    +rate-btn({rating: 5})
            .inputs-buttons__slider-buttons
                include ../includes/forms/range-slider/range-slider
                +range-slider({heading: 'range slider', values: {from: 5000, to: 10000}})
                +element([{name: 'rate button'}])(class='main-buttons')
                    include ../includes/btn/btn
                    include ../includes/btn/--border/btn--border
                    include ../includes/btn/--bdless/btn--bdless
                    .row
                        +btn({text: 'click me'})
                        +btn({text: 'click me'})(class='btn--disabled')
                    .row
                        +btn-border({text: 'click me'})
                        +btn-border({text: 'click me'})(class='btn--disabled')
                    .row
                        +btn-bdless({text: 'click me'})
                        +btn-bdless({text: 'click me'})(class='btn-bdless--disabled')
                    +btn({text: 'перейти к оплате'})(class='btn--arrow')
                +element([{name: 'pagination'}])(class='paginations')
                    include ../includes/pagination/pagination
                    +pagination({pagesVis: 3, stopPage: 15, text: '1 – 12 из 100+ вариантов арендыы'})
        .dropdowns-lists
            .dropdowns-lists__expandables
                +element([{name: 'dropdown'}, {attributes: {class: 'element__subheading'}, name: 'default'}])
                    +dropdown({phText: 'Сколько спален, кроватей', selectOptions: ['спальни', 'кровати', 'ванные ' +
                        'комнаты'], type:'dropdown--auto'})(class='dropdown--rough-btm modified')
                +element([{name: 'dropdown'}, {attributes: {class: 'element__subheading'}, name: 'expanded'}])(class='dropdown-expanded')
                    +dropdown({phText: 'Сколько спален, кроватей', selectOptions: ['спальни', 'кровати', 'ванные ' +
                        'комнаты'], type: 'dropdown--auto'})(class='dropdown--rough-btm expanded modified')
                include ../includes/expandable/expandable
                +expandable({label: 'expandable checkbox list'})
                    +checkbox({id: 'breakfast', title: 'Завтрак'})
                    +checkbox({id: 'desk', title: 'Письменный стол'})(checked='checked')
                    +checkbox({id: 'baby-table', title: 'Стул для кормления'})(checked='checked')
                    +checkbox({id: 'baby-bed', title: 'Кроватка'})(checked='checked')
                    +checkbox({id: 'tv', title: 'Телевизор'})
                    +checkbox({id: 'shampoo', title: 'Шампунь'})
                    +checkbox({id: 'tv-1', title: 'Телевизор'})
                    +checkbox({id: 'shampoo-1', title: 'Шампунь'})
                +expandable({label: 'expandable checkbox list'})(class='expanded')
                    +checkbox({id: 'breakfast-d', title: 'Завтрак'})
                    +checkbox({id: 'desk-d', title: 'Письменный стол'})(checked='checked')
                    +checkbox({id: 'baby-table-d', title: 'Стул для кормления'})(checked='checked')
                    +checkbox({id: 'baby-bed-d', title: 'Кроватка'})(checked='checked')
                    +checkbox({id: 'tv-d', title: 'Телевизор'})
                    +checkbox({id: 'shampoo-d', title: 'Шампунь'})
                    +checkbox({id: 'tv-1-d', title: 'Телевизор'})
                    +checkbox({id: 'shampoo-1-d', title: 'Шампунь'})
            .dropdowns-lists__drop-check
                +element([{name: 'dropdown'}])(class='dropdown--apply-expanded')
                    +dropdown({phText: 'Сколько гостей', selectOptions: ['взрослые', 'дети', 'младенцы'], type:
                            'dropdown--apply', buttons: true})(class='dropdown--rough-btm expanded')
                +element([{name: 'rich checkbox buttons'}])(class='rich-checkboxes')
                    +checkbox({isRich: true,id: 'wide-hall',title: 'Широкий коридор', description: 'Ширина коридоров в номере не менее 91 см.'})
                    +checkbox({isRich: true,id: 'disabled-helper',title: 'Помощник для инвалидов', description:'На 1 этаже вас встретит специалист и проводит до номера.'})
            .dropdowns-lists__drop-bullet
                +element([{name: 'dropdown'}])(class='dropdown--apply-expanded')
                    +dropdown({phText: 'Сколько гостей', selectOptions: ['взрослые', 'дети', 'младенцы'], type:
                            'dropdown--apply', buttons: true})(class='dropdown--rough-btm expanded modified')
                +element([{name: 'bullet list'}])(class='bullet-lists')
                    include ../includes/bullet-list/bullet-list
                    +bullet-list({items: ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00']})
            .dropdowns-lists__impressions
                include ../includes/advantage/advantage
                +advantage({title: 'Комфорт', description: 'Шумопоглощающие стены', icon: 'comfort'})
                +advantage({title: 'Удобство', description: 'Окно в каждой из спален', icon: 'convenience'})
            .dropdowns-lists__comments
                include ../includes/comment/comment
                +comment({name: 'Мурад Сарафанов',
                    date: '5 дней назад',
                    likebtn: {count: 12,
                              attributes: {class: 'active'}},
                    content: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
                    photo: {src:
                            'https://sun1.43222.userapi.com/impf/c845124/v845124363/ac657/Jetzk36_mMQ.jpg?size=50x0&quality=88&crop=44,1,809,809&sign=fb3adbbee44c02b5178aa5a30666ce87&ava=1',
                            alt: 'photo'}})
