extends ../layout/ui-base

block head
    -var pageTitle ='Headers & Footers'

block content
    .main-container
        include ../includes/header/header
        +header([['О нас', '#'], ['Услуги', '#', 'dropdown'], ['Вакансии', '#'], ['Новости', '#'], ['Соглашения', '#', 'dropdown']], false)
        +header([['О нас', '#'], ['Услуги', '#', 'dropdown'], ['Вакансии', '#'], ['Новости', '#'], ['Соглашения', '#', 'dropdown']], true)
        include ../includes/footer/footer
        include ../includes/footer/--creative/footer-creative