extends ../layout/header-footer

block head
    - const pageTitle = 'Room details'

block content
    main.main
        section.gallery
        section.room-details
            .room-details__info
            .room-details__impressions
            .room-details__reviews
            .room-details__rules
            .room-details__cancellation
            .room-details__booking