@import '../ui-base/ui-base';
@import "../../modules/color-box/__color-box";
@import "../../modules/font-box/__font-box";


body {
  margin: 0;
  padding: 9.0625rem 11.9375rem 9.0625rem 9.0625rem;
  @include media-sm {
    padding: (9.0625rem/1.5) (9.0625rem/5);
  }
  @include media-x-lg {
    padding: (9.0625rem/1.5) (9.0625rem/6);
  }
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1110px;
  justify-content: space-between;
  align-items: flex-start;
  @include media-m {
    justify-content: center;
  }
}

.colors {
  display: flex;
  flex-direction: column;
  @include media-lg {
    margin-bottom: 5rem;
  }
}
.fonts {
  max-width: 25.1875rem;
}
