extends ../ui-base/ui-base
block head
    -var pageTitle = 'Colors & Type'
block links
    link(rel='stylesheet' href='colors-type.css')
block content
    main
        .colors
            include ../../modules/color-box/__color-box
        .fonts
            include ../../modules/font-box/__font-box