._container {
  max-width: 1230px;
  margin: 0 auto;
  padding: {
    left: rem(35px);
    right: rem(35px);
  };
  @include media-sm {
    padding: {
      left: rem(20px);
      right: rem(20px);
    };
  }
}