%font-main {
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: bold;
}

%font-secondary {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
}
%font-secondary-bold {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
}

$f-sizes: ('h1': 1.5rem,
        'h2': 1.1875rem,
        'h3': 0.75rem,
        'body': 0.875rem);

%heading-1 {
  @extend %font-main;
  font-size: map_get($f-sizes, 'h1');
  line-height: 1.875rem;
}

%heading-2 {
  @extend %font-main;
  font-size: map_get($f-sizes, 'h2');
  line-height: 1.5rem;
}

%heading-3 {
  @extend %font-secondary-bold;
  font-size: map_get($f-sizes, 'h3');
  text-transform: uppercase;
  color: map_get($colors, 'main-100');
}

%heading-body {
  @extend %font-secondary;
  font-size: map_get($f-sizes, 'body');
  line-height: 1.5rem;
  color: map-get($colors, 'main-75');
}

.room {
  color: map_get($colors, 'main-100');
  &__num {
    @extend %font-main;
    font-size: rem(10px);
  }
  &__number {
    @extend %font-main;
  }
  &__lux {
    @extend %heading-3;
    color: map_get($colors, 'primary');
    margin-left: rem(5px);
  }
}
.cost {
  @extend %heading-body;
  line-height: rem(18px);
  font-weight: bold;
  color: map_get($colors, 'main-50');
  margin-left: auto;
  &__aday {
    font-weight: normal;
  }
}

