// Font
$mainFont: 'Montserrat', Helvetica, Arial, sans-serif;

// Size
$mainFontColor: #101010;
$mainFontSize: 16px;
$mainFontWeight: 400;
$mainLineHeight: 1;

$desktopWidth: 1280px;
$smDesktopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

// Main colors
$colors: ('main-100'              : #1f2041,
'main-75'                : rgba(31, 32, 65, 0.75),
'main-50'                : rgba(31, 32, 65, 0.5),
'main-25'                : rgba(31, 32, 65, 0.25),
'main-35'                : rgba(31, 32, 65, 0.35),
'main-10'                : rgba(31, 32, 65, 0.1),
'main-5'                 : rgba(31, 32, 65, 0.05),
'primary'                : #bc9cff,
'secondary'              : #6fcf97);

// Paths
