mixin slideshow
    .slideshow
        .slideshow__slide
            img(src='../../img/photos/1.jpeg')
        .slideshow__slide
            img(src='../../img/photos/2.jpeg')
        .slideshow__slide
            img(src='../../img/photos/3.jpg')
        .slideshow__slide
            img(src='../../img/photos/4.jpg')