@keyframes like {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes like-border {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}

.like-btn {
  // BORDER STYLES
  display: inline-block;
  background: rgba(31, 32, 65, 0.25);
  height: 20px;
  padding: 1px;
  border-radius: 10px;
  // CONTAINER STYLES
  &__container {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    background: #FFFFFF;
    height: 100%;
    border-radius: 9px;
  }
  // ICON STYLES
  &__icon {
    width: 19px;
    height: 100%;
    background: {
      image: url("../../../img/__like-icon--border.svg");
      repeat: no-repeat;
      position: center center;
    }
  }
  // COUNTER STYLES
  &__count {
    @extend %heading-body;
    line-height: normal;
    font-size: 10px;
    padding: 0 7px 0 3px;
    min-width: 19px;
    color: map-get($colors, 'main-25');
    transition: .2s;
  }
}

// ACTIVE STYLES
.like-btn.active {
  background: linear-gradient(to bottom, #BC9CFF, #8BA4F9);
  animation: like-border .3s ease-out;
  .like-btn {
    &__container {
      .like-btn__icon {
        animation: like .3s ease-out;
        background-image: url("../../../img/__like-icon.svg");
      }
      .like-btn__count {
        color: map_get($colors, 'primary');
        transition: none;
        animation: like-border .3s ease-out;
      }
    }

  }
}