.text-field {
  width: 320px;
  height: 44px;
  @extend %input-common;
    &::placeholder {
      color: map-get($colors, 'main-25');
    }
    &:focus::placeholder {
      color: transparent;
    }
  }