.roomsearch
    h1.roomsearch__heading Найдём номера под ваши пожелания
    include ../../forms/dropdown/dropdown
    +dropdown('ДД.ММ.ГГГГ', '', 'dropdown--date', 'buttons')
    +dropdown('Сколько гостей', ['взрослые', 'дети', 'младенцы'], 'dropdown--guests', 'buttons')
    +dropdown('Сколько спален,кроватей, ванных комнат', ['спальни', 'кровати', 'ванные комнаты'], 'dropdown--rooms', '')
    include ../../btn/btn
    +btn('Подобрать номер','#', 'btn--arrow roomsearch__button')
