.roomsearch
    h1.roomsearch__heading Найдём номера под ваши пожелания
    include ../../forms/dropdown/dropdown
    include ../../forms/calendar/calendar
    +input-calendar(['прибытие', 'выезд'])
    h3.roomsearch__label.heading-3 гости
    +dropdown({phText: 'Сколько гостей', selectOptions: ['взрослые', 'дети', 'младенцы'], type: 'dropdown--apply', buttons: true})
    include ../../btn/btn
    +btn({text: 'Подобрать номер', href: `${webpackConfig.output.publicPath}pages/search-room`})(class='btn--arrow ' +
    'roomsearch__button')
