.roomsearch
    h1.roomsearch__heading Найдём номера под ваши пожелания
    include ../../forms/dropdown/dropdown
    include ../../forms/calendar/calendar
    +dropdown('Сколько гостей', ['взрослые', 'дети', 'младенцы'], 'dropdown--guests', 'buttons')
    include ../../btn/btn
    +btn('Подобрать номер','#', 'btn--arrow roomsearch__button')
