@import './src/pug/includes/forms/dropdown/dropdown';
@import './src/pug/includes/forms/calendar/calendar';
@import './src/pug/includes/forms/dropdown/--apply/dropdown--apply';
@import './src/pug/includes/btn/btn';
@import './src/pug/includes/btn/--arrow/btn--arrow';

.roomsearch {
  width: rem(380px);
  padding: rem(40px) rem(30px) rem(30px) rem(30px);
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 rem(25px) rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background: #FFFFFF;
  &__heading {
    @extend %heading-1;
    color: map_get($colors, 'main-100');
    width: rem(300px);
    margin-bottom: rem(20px);
  }
  &__label {
    margin-top: rem(20px);
    margin-bottom: rem(5px);
  }
  .btn {
    padding: rem(15px) rem(20px);
  }
  .dropdown--date {
    margin-bottom: rem(20px);
  }
  .dropdown--guests {
    margin-bottom: rem(30px);
  }
}