@import '~Includes/forms/dropdown/dropdown';
@import '~Includes/forms/calendar/calendar';
@import '~Includes/forms/dropdown/--apply/dropdown--apply';
@import '~Includes/btn/btn';
@import '~Includes/btn/--arrow/btn--arrow';

.roomsearch {
	@extend %card-common;

	&__heading {
		@extend %card-common-heading;
	}

	&__label {
		margin-top: rem(20px);
		margin-bottom: rem(5px);
	}

	.btn {
		padding: rem(15px) rem(20px);
	}

	.dropdown--date {
		margin-bottom: rem(20px);
	}

	.dropdown--apply {
		margin-bottom: rem(30px);
	}
}
