mixin socials
    .socials
        span.socials__icon
            include ../../../assets/img/ui/__twitter.svg
        span.socials__icon
            include ../../../assets/img/ui/__face.svg
        span.socials__icon
            include ../../../assets/img/ui/__inst.svg