mixin socials
    .socials&attributes(attributes)
        .socials__icon
            img.socials__img(src=require(`Images/ui/twitter.svg`) alt='Our Twitter')
        .socials__icon
            img.socials__img(src=require(`Images/ui/face.svg`) alt='Our Facebook')
        .socials__icon
            img.socials__img(src=require(`Images/ui/inst.svg`) alt='Our Instagram')
