// -----------SOCIALS BOX------------
.socials {
	display: flex;
	margin: 0 -1 * rem(10px);
	// ----------- ICONS ------------
	&__icon {
		padding: 0 rem(10px);
	}

	&__img {
		width: rem(24px);
		max-width: rem(24px);
		height: rem(24px);
	}
}
