mixin socials
    .socials&attributes(attributes)
        span.socials__icon
            include ../../../assets/img/ui/twitter.svg
        span.socials__icon
            include ../../../assets/img/ui/face.svg
        span.socials__icon
            include ../../../assets/img/ui/inst.svg