%input-common {
  background: #FFFFFF;
  border: 1px solid map_get($colors, 'main-25');
  border-radius: 4px;
  padding: 12px 15px;
  @extend %heading-body;
  transition: border-color .3s ease-out;
  &:focus, &:active {
    border-color: map_get($colors, 'main-50');
    transition: border-color .3s ease-out;
    color: map_get($colors, 'main-75');
    outline: none;
  }
}