.radio {
  // HIDING THE DEFAULT RADIO BUTTON
  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    // HOVERING THE RADIO BUTTON
    &:not(:disabled):not(:checked) {
      +.radio__label:hover::before {
          border-color: map_get($colors, 'primary');
      }
    }
    // FOCUS ON THE BUTTON
    &:focus+.radio__label::before, &:focus:not(:checked)+.radio__label::before {
      box-shadow: 0 0 0 rem(1px) rgba(0, 123, 255, 0.20);
    }
    // CLICKING THE RADIO BUTTON (ACTIVE STATE)
    &:not(:disabled):active {
      +.radio__label::before {
        border-color: map_get($colors, 'primary');
        background-color: rgba(188, 156, 255, 0.1);
      }
    }
    // CHECKED RADIO BUTTON
    &:checked {
      +.radio__label {
        position: relative;
        &::before {
        border-color: map_get($colors, 'primary');
        }
        &::after {
          content: '';
          position: absolute;
          width: rem(20px);
          height: rem(20px);
          background: {
          image: url("/assets/img/ui/radio.svg");
          repeat: no-repeat;
          position: center center;
          }
        }
        color: map-get($colors, 'main-75');
      }
    }
  }
  //STYLING THE LABEL
  &__label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    @extend %heading-body;
    color: map-get($colors, 'main-50');
    transition: .2s;
    //STYLING THE CUSTOM RADIO
    &:before {
      content: '';
      cursor: pointer;
      display: inline-block;
      box-sizing: border-box;
      width: rem(20px);
      height: rem(20px);
      margin-right: rem(10px);
      flex: 0 0 auto;
      border: 1px solid map_get($colors, 'main-25');
      border-radius: 50%;
      transition: border-color .2s;
    }
  }
}