.btn-bdless {
  text-decoration: none;
  @extend %heading-3;
  text-transform: uppercase;
  color: map-get($colors, 'primary');
  border-radius: 20px;
  display: inline-block;
  background: transparent;
  padding: 0;
  @extend %btn-bdless--focus;
  &--disabled {
    color: map-get($colors, 'main-50');
  }
}