.btn-bdless {
	@extend %heading-3;
	@extend %btn-bdless--focus;
	display: inline-block;
	padding: 0;

	color: map-get($colors, 'primary');
	text-transform: uppercase;
	text-decoration: none;

	background: transparent;
	border-radius: 20px;

	&--disabled {
		color: map-get($colors, 'main-50');
	}
}
