footer.footer-creative
    .footer-creative__container
        .footer-creative__logo
            include ../../../img/__main-logo-gradient.svg
        include ../../type/__body-text/__body-text
        +body-text('Copyright © 2018 Toxin отель. Все права зачищены.')
        include ../../socials/__socials
        +socials