// inf {rating: num}
mixin rate-btn(options)
    .rate-btn&attributes(attributes)
        -var i = 1
        while i <= 5
            a.rate-btn__star(href='#', class=(i <= options.rating ? 'active' : '') , data-index=i++)