@import "../../socials/socials";

.footer-creative {
  width: 90%;
  max-width: 768px;
  margin: 0 auto;
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 104px;
    text-align: center;
    @include media-sm {
      padding: 60px 52px;
    }
    .body-text {
      margin: 20px 0 25px 0;
    }
  }
}