footer.footer-creative
    .footer-creative__container
        .footer-creative__logo
            include ../../../../assets/img/ui/main-logo-gradient.svg

        p.body-text Copyright © 2018 Toxin отель. Все права зачищены.
        include ../../socials/socials
        +socials