// -----------BUTTON------------
.btn {
  position: relative;
  display: inline-block;
  border-radius: 22px;
  padding: rem(15px) rem(20px);
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  @extend %heading-3;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  // -----------BUTTON DISABLED------------
  &--disabled {
    opacity: 0.5;
  }
}