// Chart variables
$chart-gap: rem(2px);

// Legend variables
$legend-colors: ('wonderful': linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%),
'good': linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%),
'satisfactory': linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%),
'disappointed': linear-gradient(180deg, #919191 0%, #3d4975 100%));

.impressions {
	display: flex;
	//flex-wrap: wrap;
	margin: -1 * rem(30px) 0 0 -1 * rem(30px);

	.chart {
		@include size(rem(120px));
		position: relative;

		margin: rem(30px) 0 0 rem(30px);
		overflow: hidden;

		background: #fff;
		border-radius: 50%;

		&__circle {
			position: absolute;
			top: 0;
			left: 0;

			display: flex;
			width: 100%;
			height: 100%;
		}

		&__gradient {
			width: 50%;
			height: 100%;
		}

		&__gradient--1 {
			background-image: map-get($legend-colors, 'wonderful');
		}

		&__gradient--2-1 {
			padding: 0 0 $chart-gap $chart-gap;

			background-image: map-get($legend-colors, 'satisfactory');
		}

		&__gradient--2-2 {
			padding: 0 0 0 $chart-gap;

			background-image: map-get($legend-colors, 'good');
		}

		&__subgradient {
			height: 50%;

			background-clip: content-box;
		}

		&__info {
			position: relative;
			z-index: 1;

			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 100%;
			padding: rem(4px);

			color: map-get($colors, 'primary');
			text-align: center;

			background: #fff;
			background-clip: content-box;
			border-radius: 50%;
		}
	}

	&__num {
		@extend %heading-1;
	}

	&__votes {
		@extend %heading-3;
		color: map-get($colors, 'primary');
	}

	&__legend {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		margin: rem(30px) 0 0 rem(30px);
	}

	&__legitem {
		display: flex;
		align-items: center;

		&::before {
			@include size(rem(10px));
			display: inline-flex;
			margin-right: 5px;

			border-radius: 50%;

			content: '';
		}
		@each $name, $color in $legend-colors {
			&.imp--#{$name} {
				&::before {
					background-image: $color;
				}
			}
		}
	}
}
