.toggle {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  user-select: none;

  // HIDING THE DEFAULT CHECKBOX
  &__box {
    width: 0;
    height: 0;
    opacity: 0;
    // STYLING THE CHECKED BUTTON
    &:checked+.toggle__button {
      &::before {
        transform: translateX(22px);
      }
      border-color: map_get($colors, 'primary');
      .toggle__dummybg {
        &::before {
          opacity: 0;
          transform: translateX(22px);
        }
      }
    }
    // FOCUS ON THE BUTTON
    &:focus+.toggle__button, &:focus:not(:checked)+.toggle__button {
      box-shadow: 0 0 0 1px rgba(0, 123, 255, 0.20);
    }
    // HOVERING THE TOGGLE BUTTON
    &:not(:disabled):not(:checked)+.toggle__button:hover {
      border-color: map_get($colors, 'main-35');
      .toggle__dummybg::before {
        background: rgb(170, 167, 182);
      }
    }

  //  CLICKING THE TOGGLE
    &:active+.toggle__button {
      box-shadow: 0 0 1px map_get($colors, 'primary');
    }
  }
  // THE TOGGLE BUTTON
  &__button {
    position: relative;
    cursor: pointer;
    width: 40px;
    height: 20px;
    flex: 0 0 auto;
    border: 1px solid map-get($colors, 'main-25');
    border-radius: 10px;
    margin-right: 10px;
    transition: .4s;
    //  COMMON PROPERTIES FOR SLIDERS
    &::before, .toggle__dummybg::before {
      content: '';
      position: absolute;
      cursor: pointer;
      left: 2px;
      bottom: 3px;
      box-sizing: border-box;
      width: 12px;
      height: 12px;
      border-radius: 10px;
      transition: .4s;
    }
  //  DUMMY BACKGROUND BOX
    .toggle__dummybg {
      display: inline-block;
      width: 38px;
      height: 18px;
      // DUMMY SLIDER
      &::before {
        background: rgb(191, 189, 201);
        opacity: 1;
      }
    }
  // THE TOGGLE SLIDER
    &::before {
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    }
  }
  // STYLING THE LABEL
  &__label {
    @extend %heading-body;
    line-height: normal;
    @extend %main-50;
    color: map_get($colors, 'main-75');
  }
}