@import "~Includes/btn/btn";
@import "~Includes/btn/--border/btn--border";

.sign-in {
  @extend .roomsearch;
  &__heading {
    @extend .roomsearch__heading;
  }
  .text-field {
    margin-bottom: rem(10px);
  }
  & #password {
    margin-bottom: rem(20px);
  }
  &__auth {
    margin-bottom: rem(30px);
  }
  &__isntregged {
    @extend .registration__isregged;
  }
  &__text {
    @extend .registration__text;
  }
  .btn {
    margin-top: rem(15px);
  }
  .btn-border__link {
    padding: rem(13px) rem(17px);
  }
}