@import '~Includes/btn/btn';
@import '~Includes/btn/--border/btn--border';
@import '~Scss/modules/text-field';

.sign-in {
	@extend %card-common;

	&__heading {
		@extend %card-common-heading;
	}

	.text-field {
		margin-bottom: rem(10px);
	}

	&__auth {
		margin-bottom: rem(30px);

		cursor: pointer;
	}

	&__isntregged {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__text {
		@extend %heading-body;
		color: #000;
		line-height: rem(18px);
	}

	.btn {
		margin-top: rem(15px);
	}

	.btn-border__link {
		padding: rem(13px) rem(17px);
	}
}
