include ../../btn/btn
include ../../btn/--border/btn--border

form.sign-in
    h1.sign-in__heading Войти
    input.text-field(type='email' autocomplete='username' name='email' placeholder='Email')
    input.text-field(type='password' autocomplete='current-password' name='password' placeholder='Пароль')
    +btn({text: 'войти', href: '#', submit: true})(class='btn--arrow sign-in__auth')
    .sign-in__isntregged
        p.sign-in__text Нет аккаунта на Toxin?
        +btn-border({text: 'создать', href: 'https://troalexis.github.io/pages/registration'})