mixin slideshow(slidesUrls)
    .slideshow&attributes(attributes)
        each val in slidesUrls
            .slideshow__slide
                img(src=`/assets/img/rooms/${val}.jpg`)
        a.slideshow__prev
        a.slideshow__next
        div.slideshow__dots
            each val, index in slidesUrls
                span.slideshow__dot(data-index=index)