.input-calendar {
  display: inline-flex;
  flex-wrap: wrap;
  width: 320px;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  position: relative;
  &__heading {
    flex: 0 0 150px;
    margin-bottom: 5px;
    &:first-child {
      margin-right: 20px;
    }
  }
  &__calendar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__apply {
    align-self: end;
    order: 1;
  }
  &__clear {
    align-self: end;
    order: 0;
  }
  &__select {
    &.arrival {
      margin-right: 20px;
    }
    &.arrival, &.depart {
      flex: 0 1 150px;
      padding: 0;
      border: none;
    }
    &.active {
    }
    input {
      position: relative;
      z-index: 1;
      background: transparent;
      outline: none;
      padding: 0 15px;
      width: 100%;
      height: 100%;
      @extend %heading-body;
      border: 1px solid map-get($colors, 'main-25');
      border-radius: 4px;
      transition: border-color .3s ease-out;
      &:active, &:focus {
        border-color: map_get($colors, 'main-75');
      }
    }
  }
  &__content {
    display: none;
    position: absolute;
    width: 320px;
    min-height: 369px;
    padding: 20px;
    top: 70px;
    background: #ffffff;
    z-index: 2;
    border: 1px solid map-get($colors, 'main-25');
    border-radius: 4px;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    &.open {
      display: flex;
    }
  }
  &__header {
    flex: 0 1 100%;
    display: flex;
    @extend %heading-2;
    color: map_get($colors, 'main-100');
    margin-bottom: 30px;
  }
  &__text {
    flex: 1 0 auto;
    text-align: center;
  }
  &__arrow {
    width: 24px;
    height: 24px;
    background: url("/../../../../../assets/img/ui/__arrow--nograd.svg") center center no-repeat;
    cursor: pointer;
    &--forward {
      transform: rotateY(180deg);
    }
  }
  &__weekdays {
    flex: 0 1 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40px;
    @extend %heading-3;
    text-transform: none;
    color: map_get($colors, 'primary');
  }
  &__weekday {
    flex: 0 1 39.71px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__days {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-bottom: 20px;
  }
  &__day {
    flex: 0 1 39.71px;
    cursor: pointer;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    @extend %heading-3;
    font-weight: normal;
    color: map_get($colors, 'main-50');
    &:not(.disabled):hover {
      border: 1px solid map-get($colors, 'primary');
      border-radius: 22px;
    }
    &.current {
      background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
      border-radius: 22px;
      font-weight: bold;
      color: #FFFFFF;
    }
    &.disabled {
      color: map_get($colors, 'main-25');
    }
    &.arrival, &.depart {
      position: relative;
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      border-radius: 22px;
      &:hover {
        border: none;
      }
    }
    &.arrival {
      &::after {
        content: '';
        position: absolute;
        z-index: -1;
        width: 50%;
        height: 100%;
        left: 50%;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        opacity: 0.25;
      }
    }
    &.depart {
      &::before {
        content: '';
        position: absolute;
        z-index: -1;
        width: 50%;
        height: 100%;
        right: 50%;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        opacity: 0.25;
      }
    }
    &.between {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        opacity: 0.25;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
      &:hover {
        border-radius: 4px;
      }
    }
  }
}
