.btn {
  // ----------- ARROW-BUTTON ------------
  &--arrow {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: rem(320px);
    // -----------ARROW------------
    &::after {
      content: '';
      position: absolute;
      right: 0;
      @include size(rem(44px));
      background: url('/assets/img/ui/arrow_forward--white.svg') center center no-repeat;
    }
  }
}