include ../utils/mixins

doctype html
html(lang="ru")
  head
    block head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title= pageTitle
    block links
  body
    //  header
    include ../includes/header/header
    +header([['О нас', '#'], ['Услуги', '#', 'dropdown'], ['Вакансии', '#'], ['Новости', '#'], ['Соглашения', '#',
      'dropdown']], false)
    block content
    // footer
    include ../includes/footer/footer