include ../../slideshow/__slideshow
include ../../rate-btn/__rate-btn
mixin roomcard(roomnumber, lux, price, reviews, rating)
    .roomcard
        +slideshow
        .roomcard__container
            .roomcard__wrap
                p.room
                    span.room__num= '№ '
                    span.room__number= roomnumber
                if lux
                    span.room__lux люкс
                p.cost= price + '₽ '
                    span.cost__aday в сутки
            hr
            .roomcard__wrap
                +rate-btn(rating)
                p.reviews.cost= reviews
                    span.cost__aday Отзывов
