@import "../../modules/breakpoints/__breakpoints";
@import "../../modules/colors/__colors";
@import "../../modules/type/__type";
* {
  box-sizing: border-box;
  margin: 0;
}
html {
  height: 100%;
}

.main-logo {
  position: absolute;
  left: 1.875rem;
  top: 1.875rem;
  @include media-sm {
    left: auto;
    right: 1.875rem;
  }
}