mixin advantage(title, description, icon)
    .advantage
        .icon(class='icon--' + icon)
        .advantage__label
            .advantage__title= title
            .advantage__description=description