include ../../slideshow/slideshow
include ../../rate-btn/rate-btn
// inf {roomnumber, lux, price, reviews, rating, urls}
mixin roomcard(options)
    .roomcard
        +slideshow(options.urls)
        .roomcard__container
            .roomcard__wrap
                p.room
                    span.room__num= '№ '
                    span.room__number= options.roomnum
                if lux
                    span.room__lux люкс
                p.cost= options.price + '₽ '
                    span.cost__aday в сутки
            hr
            .roomcard__wrap
                +rate-btn({rating: options.rating})
                p.reviews.cost= options.reviews + ' '
                    span.cost__aday Отзывов