%color-box__font {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.1875rem;
    line-height: 1.8125rem;
    color: map-get($colors, 'main-100');
}
.color-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1.25rem;
  align-items: center;
  &:last-of-type {
    margin-bottom: 0;
  }
  &__color {
    width: 4.375rem;
    height: 4.375rem;
    margin-right: 2.5rem;
    @include media-sm {
      margin-right: 1.25rem;
    }
    border-radius: 0.375rem;
    &--main-100 {
      background-color: map_get($colors, 'main-100');
    }
    &--main-75 {
      background-color: map_get($colors, 'main-75');

    }
    &--main-50 {
      background-color: map_get($colors, 'main-50');

    }
    &--main-25 {
      background-color: map_get($colors, 'main-25');

    }
    &--main-5 {
      background-color: map_get($colors, 'main-5');

    }
    &--primary {
      background-color: map_get($colors, 'primary');

    }
    &--secondary {
      background-color: map_get($colors, 'secondary');
    }
  }
  &__name {
    @extend %color-box__font;
  }
  &__hex {
    font-weight: normal;
  }
}