.dropdown--apply {
  &__heading {
    margin-bottom: rem(5px);
  }
  .dropdown {
    &__item--last {
      margin-bottom: rem(19px);
    }
    &__apply {
      order: 1;
    }
    &__clear {
      order: 0;
    }
  }
}