mixin pagination(stop)
    .pagination
        .pagination__buttons
            a.pagination__button(class=`pagination__button--1`, href='#') 1
            a.pagination__button(class=`pagination__button--2`, href='#') 2
            a.pagination__button(class=`pagination__button--3`, href='#') 3
            a.pagination__button(class=`pagination__button--empty`) ...
            a.pagination__button(class=`pagination__button--${stop}`, href='#')= stop
            a.pagination__button(class=`pagination__button--next`, href='#')
        .pagination__info
            p.pagination__paragraph 1 – 12 из 100+ вариантов аренды