.bullet-list {
	padding: 0;

	list-style: none;

	&__item {
		@extend %heading-body;
		display: flex;
		align-items: baseline;
		margin: -1 * rem(10px) rem(8px) 0 -1 * rem(10px);

		color: map-get($colors, 'main-75');

		&:last-child {
			margin-bottom: 0;
		}

		&::before {
			@include size(rem(10px));
			display: inline-block;
			margin: rem(10px) 0 0 rem(10px);

			background-color: map-get($colors, 'main-25');
			border-radius: 50%;

			content: '';
		}
	}

	&__content {
		flex: 0 1 rem(240px);
		margin: rem(10px) 0 0 rem(10px);
	}
}
